doctype html
html(lang='en')
    head
        meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1.0')
        title Login
        style.
            *{
                background: antiquewhite;
                text-align: center;
            }
        script.
            alert('default credentials\nemail : admin@admin.com\npassword : admin123')
    body
        h1 Login Page
        form(action=login_api_src, method='post')
            label(for='email') email :
            input#email(name='email', type='email')
            br
            br
            label(for='password') password :
            input#password(name='password', type='password', minlength='6', maxlength='20')
            br
            br
            input(type='submit')
            br
            br
        button(onclick=`location.href='${create_account_url}'`) create-account
