<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
      *{
          background: antiquewhite;
          text-align: center;
      }
    </style>
    <script>alert('default credentials\nemail : admin@admin.com\npassword : admin123')</script>
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="post">
      <label for="email">email :</label>
      <input id="email" name="email" type="email"><br><br>
      <label for="password">password :</label>
      <input id="password" name="password" type="password" minlength="6" maxlength="20"><br><br>
      <input type="submit"><br><br>
    </form>
    <button onclick="location.href='undefined'">create-account</button>
  </body>
</html>