<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redirect</title>
    <script async defer></script>
    <script async defer>
      function counter() {
          count--
          x.innerText = count.toString(10)
          if (count === 0) {
              window.location.href = ''
          }
      }
    </script>
    <style>
      * {
          text-align: center;
          font-family: monospace;
      }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="undefined/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="undefined/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="undefined/icons/favicon-16x16.png">
    <link rel="manifest" href="undefined/icons/site.webmanifest">
  </head>
  <body onload="start()">
    <p></p> app will redirect in
    <span id="count"></span> seconds...<br>
  </body>
</html>